//
// Homepage
// --------------------------------------------------



.homepage {
  .hero-panel {
    &-home {
      background-size: cover !important;
      // Media query > 1200px
      @media (min-width: 1200px) {
        min-height: 780px;
      }
      // Media query > 992px and < 1199px
      @media (min-width: 992px) and (max-width: 1199px) {
        min-height: 650px;
      }
      // Media query > 768px and < 991px
      @media (min-width: 768px) and (max-width: 991px) {
        min-height: 500px;
      }

      // Media query > 576px and < 767px
      @media (min-width: 576px) and (max-width: 767px) {
        min-height: 500px;

      }

      // Media query < 575px
      @media (max-width: 575px) {
        min-height: 400px;
        .hero-image {
          display: none;
        }
      }

      .hero-panel-content {
        position: absolute;
        bottom: 120px;
        left: 30px;
        top: auto;
        color: $white;
        @media (min-width: 992px) and (max-width: 1199px) {
          bottom: 100px;
        }
        // Media query > 768px and < 991px
        @media (min-width: 768px) and (max-width: 991px) {
          bottom: 50px;
        }
        // Media query > 576px and < 767px
        @media (min-width: 576px) and (max-width: 767px) {
          bottom: 30px;
        }
        // Media query < 575px
        @media (max-width: 575px) {
          bottom: 40px;
        }
        opacity: 0;
        transition: opacity 0.5s ease-in 0.4s;
        h1, .h1 {
          &.page-title {
            font-size: 18px;
          }
        }
        .intro {
          color: $white;
          font-size: 34px;
          line-height: 44px;
          padding-bottom: 30px;
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 24px;
            line-height: 34px;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            font-size: 24px;
            line-height: 34px;
          }
          @media (max-width: 575px) {
            font-size: 24px;
            line-height: 34px;
          }

          a.button, button {
            font-size: 16px;
            margin-left: 0px;
          }
        }

      }
    }
  }
  .hero-panel {
    &-secondary {
      background-size: cover !important;
      // Media query > 1200px
      @media (min-width: 1200px) {
        min-height: 695px;
        img {
          height: 100%;
          width: 100%;
          max-width: 100%;
        }
      }
      // Media query > 992px and < 1199px
      @media (min-width: 992px) and (max-width: 1199px) {
        min-height: 700px;
      }
      // Media query > 768px and < 991px
      @media (min-width: 768px) and (max-width: 991px) {
        min-height: 350px;
        img {
          position: absolute;
        }
      }

      // Media query > 576px and < 767px
      @media (min-width: 576px) and (max-width: 767px) {
        min-height: 520px;
      }

      // Media query < 575px
      @media (max-width: 575px) {
        min-height: 560px;
      }

      .hero-panel-content {
        position: absolute;
        left: 30px;
        color: $white;
        overflow: hidden;
        // Media query > 1200px
        @media (min-width: 1200px) {
            bottom: 20px;
        }
        // Media query > 992px and < 1199px
        @media (min-width: 992px) and (max-width: 1199px) {
          bottom: 20px;
        }
        // Media query > 768px and < 991px
        @media (min-width: 768px) and (max-width: 991px) {
          bottom: 20px;
        }
        // Media query > 576px and < 767px
        @media (min-width: 576px) and (max-width: 767px) {
          bottom: 20px;
        }
        // Media query < 575px
        @media (max-width: 575px) {
          bottom: 20px;
          top: auto;
        }
        ///overflow: auto;
        opacity: 0;
        transition: opacity 0.5s ease-in 0.4s;
        h1, .h1 {
          &.page-title {
            font-size:18px;
            line-height:23px;
          }
        }

        .intro {
          color: $white;
          font-size: 34px;
          line-height: 44px;
          padding-bottom: 30px;
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 24px;
            line-height: 35px;
            padding-bottom: 10px;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            font-size: 24px;
            line-height: 35px;
            padding-bottom: 10px;
          }
          @media (max-width: 575px) {
            font-size: 24px;
            line-height: 35px;
            padding-bottom: 10px;
          }

          a.button, button {
            font-size: 16px;
            margin-left: 0px;
          }

        }

      }
    }
  }




#home-cta {
  .feature-text-large {
    h3 {
      font-size: 30px;
      line-height: 40px;
      @media (max-width: 575px) {
        font-size: 28px;
        line-height: 30px;
      }

    }

  }
  #home-vessel-info {
    .row {
      background: url('../../img/_build/home-vessel-info.jpg') no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0;
      @media (max-width: 575px) {
        background: url('../../img/_build/home-vessel-info.jpg') no-repeat top center;
        background-size: 100% auto;
        margin: 0;
        min-height: 455px;
      }
    }
  }

  #home-news {
    .row {
      background: url('../../img/_build/home-news.jpg') no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0;
      @media (max-width: 575px) {
        background: url('../../img/_build/home-news.jpg') no-repeat top center;
        background-size: 100% auto;
        margin: 0;
        min-height: 480px;
      }
    }
  }

  // Media query > 1200px
  @media (min-width: 1200px) {
    .overlay {
      .row {min-height: 420px;}
      margin-top: -70px;
      position: relative;
    }
    .content {
      position: absolute;
      bottom: 20px;
      padding: 0 40px 0 30px;
    }
  }

  // Media query > 992px and < 1199px
  @media (min-width: 992px) and (max-width: 1199px) {
    .overlay {
      .row {min-height: 280px;}
      margin-top: -60px;
      position: relative;
    }
    .content {
      position: absolute;
      bottom: 10px;
      padding: 0 40px 0 30px;
      h2 {
        font-size:20px;
      }
      h3 {
        font-size:22px;
        line-height: 24px;
      }
    }
  }

  // Media query > 768px and < 991px
  @media (min-width: 768px) and (max-width: 991px) {

    .row {min-height: 280px;}

    .overlay {
      margin-top: -40px;
      position: relative;
    }
    .content {
      position: absolute;
      bottom: 10px;
      padding: 0 30px 0 30px;
      h2 {
        font-size:16px;
      }
      h3 {
        font-size:18px;
        line-height: 20px;
      }
    }
  }


  // Media query > 576px and < 767px
  @media (min-width: 576px) and (max-width: 767px) {
    .row {min-height: 280px;}
    .overlay {
      margin-top: 10px;
      position: relative;
    }
    .content {
      position: absolute;
      bottom: 10px;
      padding: 0 30px 0 30px;
      h2 {
        font-size:20px;
      }
      h3 {
        font-size:22px;
        line-height: 24px;
      }
    }
  }


  // Media query < 575px
  @media (max-width: 575px) {
    .row {min-height: 280px;}
    .overlay {
      margin-top: 10px;
      position: relative;
    }
    .content {
      position: absolute;
      bottom: 10px;
      padding: 0 30px 0 30px;
      &.white-text {
        h2 {
          color: $nearlyblack !important;

        }


        h3 a {
          color: $nearlyblack !important;
          font-size:22px;
          line-height: 20px;
        }

      }

    }
  }

}

  #home-what-we-do {
    margin:20px 0 30px 0;
    background: url('../../img/_build/home-what-we-do.jpg') no-repeat top center;
    overflow: hidden;
    @media (max-width: 575px) {
      margin: 0;
      background: url('../../img/_build/home-what-we-do-mobile.jpg') no-repeat top center;
      background-size: 100% auto;
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #home-careers {
    position: relative;
    padding-bottom: 40px;
    @media (max-width: 575px) {
      padding-top: 20px;
    }
    h2 {
      font-size: 18px;
      line-height: 23px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 16px;
        line-height: 25px;
      }
    }
    h3 {
      font-size: 30px;
      line-height:40px;
      padding: 10px 0 15px 0;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 23px;
        line-height: 30px;
      }
    }

   .row {
     background: $verylightgrey;
     overflow: hidden;
     display: block;
      .col-md-6 {
        min-height: 350px;
        // Media query > 576px and < 767px
        @media (min-width: 768px) and (max-width: 991px) {
          min-height: 250px;
        }
        // Media query > 576px and < 767px
        @media (min-width: 576px) and (max-width: 767px) {
          min-height: 250px;
        }
        // Media query < 575px
        @media (max-width: 575px) {
          min-height: 200px;
          h3 {
            font-size:18px;
            line-height: 20px;
          }
        }
        display: block;
        object-fit: cover;
      }
     img {
       position: absolute;

       @media (min-width: 1200px) {
         width: 100%;
         height: auto;
       }
       // Media query > 992px and < 1199px
       @media (min-width: 992px) and (max-width: 1199px) {
         width: 100%;
         height: 100%;
       }

       // Media query > 768px and < 991px
       @media (min-width: 768px) and (max-width: 991px) {
         width: 100%;
         height: 100%;
       }

       // Media query < 575px
       @media (max-width: 575px) {
         width: 100%;
         height: 100%;
       }

       width: auto;
       height: 100%;
       object-fit: cover;
     }
     .content {
       position: absolute;
       bottom: 0px;
       left: 30px;
       right: 30px;
       padding: 0 30px 20px 30px;
       @media (max-width: 575px) {
         left: 20px;
         padding: 0 30px 20px 20px;
       }
     }
   }
  }
}

@media (max-width: 575px) {
  main.about-us {
    .hero-panel-image {
      background: url('../../img/_build/about-us-hero-mobile.jpg') no-repeat top center;
      background-size: 100% auto;
      min-height: 320px;

      img.hero-image, img {
        display: none;
      }
    }

  }
}