//
// Colours (NOT colors!!)
// --------------------------------------------------

.bg-purple {background:$purple;}
.bg-verylightgrey {background:$verylightgrey;}
.bg-darkgrey {background:$darkgrey;}
.bg-blue {background:$blue;}
.bg-secondarygrey {background:$secondarygrey;}
