//
// Utility classes
// --------------------------------------------------

// Visibility --------------------------------

.u-hidden {
    display: none !important;
    visibility: hidden;
}
.u-hidden-visibly {
    /* hide from screen but can still be read by screen readers */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// spacing --------------------------------

.u-vertical-padding {
    padding: 40px 0;
}
.u-vertical-padding-half {
    padding: 20px 0;
}
.u-bottom-padding-double {
    padding-bottom: 80px;
}
.u-bottom-padding {
    padding-bottom: 40px;
}
.u-bottom-padding-half {
    padding-bottom: 20px;
}
.u-top-padding {
    padding-top: 40px;
}
.u-top-padding-half {
    padding-top: 20px;
}
.u-top-padding-double {
    padding-top: 80px;
}
.u-panel-padding {
    padding: 0 30px 10px;
}
.u-vertical-margin {
    margin: 40px 0;
}
.u-vertical-margin-half {
    margin: 20px 0;
}
.u-top-margin {
    margin-top: 40px;
}
.u-bottom-margin {
    margin-bottom: 40px;
}
.u-negative-margin-padding {
    margin-top: 103px;
}
.u-remove-padding {
    padding: 0 !important;
}
.u-remove-margin {
    margin: 0 !important;
}
.u-remove-space {
    padding: 0 !important;
    margin: 0 !important;
}
.u-remove-space-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.u-remove-space-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.u-center {
    margin: 0 auto;
}

.u-padding-0 {
    padding: 0px !important;
}
.u-padding-15 {
    padding: 15px !important;
}
.u-padding-20 {
    padding: 20px !important;
}
.u-padding-30 {
    padding: 30px !important;
}
.u-padding-t-0 {
    padding-top: 0 !important;
}
.u-padding-t-15 {
    padding-top: 15px !important;
}
.u-padding-t-20 {
    padding-top: 20px !important;
}
.u-padding-t-30 {
    padding-top: 30px !important;
}
.u-padding-t-40 {
    padding-top: 40px !important;
}
.u-padding-t-50 {
    padding-top: 50px !important;
}
.u-padding-t-60 {
    padding-top: 60px !important;
}
.u-padding-r-0 {
    padding-right: 0 !important;
}
.u-padding-r-15 {
    padding-right: 15px !important;
}
.u-padding-r-20 {
    padding-right: 20px !important;
}
.u-padding-r-30 {
    padding-right: 30px !important;
}
.u-padding-r-60 {
    padding-right: 60px !important;
}
.u-padding-b-0 {
    padding-bottom: 0px !important;
}
.u-padding-b-5 {
    padding-bottom: 5px !important;
}
.u-padding-b-15 {
    padding-bottom: 15px !important;
}
.u-padding-b-20 {
    padding-bottom: 20px !important;
}
.u-padding-b-30 {
    padding-bottom: 30px !important;
}
.u-padding-b-60 {
    padding-bottom: 60px !important;
}
.u-padding-l-0 {
    padding-left: 0px !important;
}
.u-padding-l-15 {
    padding-left: 15px !important;
}
.u-padding-l-20 {
    padding-left: 20px !important;
}
.u-padding-l-30 {
    padding-left: 30px !important;
}
.u-margin-15 {
    margin: 15px !important;
}
.u-margin-20 {
    margin: 20px !important;
}
.u-margin-30 {
    margin: 30px !important;
}
.u-margin-t-0 {
    margin-top: 0 !important;
}
.u-margin-t-10 {
    margin-top: 10px !important;
}
.u-margin-t-15 {
    margin-top: 15px !important;
}
.u-margin-t-20 {
    margin-top: 20px !important;
}
.u-margin-t-30 {
    margin-top: 30px !important;
}
.u-margin-t-40 {
    margin-top: 40px !important;
}
.u-margin-r-0 {
    margin-right: 0px !important;
}
.u-margin-r-5 {
    margin-right: 5px !important;
}
.u-margin-r-15 {
    margin-right: 15px !important;
}
.u-margin-r-20 {
    margin-right: 20px !important;
}
.u-margin-r-30 {
    margin-right: 30px !important;
}
.u-margin-b-0 {
    margin-bottom: 0 !important;
}
.u-margin-b-5 {
    margin-bottom: 5px !important;
}
.u-margin-b-10 {
    margin-bottom: 10px !important;
}
.u-margin-b-15 {
    margin-bottom: 15px !important;
}
.u-margin-b-20 {
    margin-bottom: 20px !important;
}
.u-margin-b-30 {
    margin-bottom: 30px !important;
}
.u-margin-b-60 {
    margin-bottom: 60px !important;
}
.u-margin-l-15 {
    margin-left: 15px !important;
}
.u-margin-l-20 {
    margin-left: 20px !important;
}
.u-margin-l-30 {
    margin-left: 30px !important;
}

.u-padding {
    padding: 30px;
    @media only screen and ($bp-lg-min) {
        padding: 60px;
    }
}
.u-padding-t {
    padding-top: 30px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        padding-top: 60px;
    }
}
.u-padding-b {
    padding-bottom: 30px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        padding-bottom: 60px;
    }
}
.u-half-padding-t {
    padding-top: 15px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        padding-top: 30px;
    }
}
.u-half-padding-b {
    padding-bottom: 15px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        padding-bottom: 30px;
    }
}
.u-margin-t {
    margin-top: 30px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        margin-top: 60px;
    }
}
.u-margin-b {
    margin-bottom: 30px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        margin-bottom: 60px;
    }
}
.u-half-margin-t {
    margin-top: 15px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        margin-top: 30px;
    }
}
.u-half-margin-b {
    margin-bottom: 15px;
    @media only screen and ($bp-md-min) {
    }
    @media only screen and ($bp-lg-min) {
        margin-bottom: 30px;
    }
}

// layout --------------------------------

.u-clearfix {
    @include clearfix;
}
.u-clear-both {
    clear: both;
}

.u-position-relative {
    position: relative;
}
.u-position-inherit {
    position: inherit !important;
}

.u-float-right {
    float: right;
    width: auto;
}
.u-float-left {
    float: left;
    width: auto;
}
.u-float-none {
    float: none;
}

.u-text-center {
    text-align: center;
}
@media only screen and ($bp-xl-min) {
    .u-text-center-xl {
        text-align: center !important;
    }
}

// keylines --------------------------------

.u-keyline-bottom {
    border-bottom: 1px solid $keyline;
}
.u-keyline-top {
    border-top: 1px solid $keyline;
}
.u-divider {
    border-bottom: 1px solid $keyline;
    border-top: 1px solid $keyline;
}

// borders --------------------------------

.u-border {
    border: 1px solid $keyline;
}
.u-border-l {
    border-left: 1px solid $keyline;
}
.u-border-t {
    border-top: 1px solid $keyline;
}
.u-border-r {
    border-right: 1px solid $keyline;
}
.u-border-b {
    border-bottom: 1px solid $keyline;
}
.u-border-b-white {
    border-bottom: 1px solid $white;
}
.u-border-b-0 {
    border-bottom: 0px !important;
}
.u-border-t-0 {
    border-top: 0px !important;
}

.u-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.white-text {
    [class^="u-border"] {
        border-color: $white;
    }
}

// images --------------------------------

.u-center-image {
    margin: 0 auto !important;
}
.u-center {
    margin: 0 auto !important;
    display: block !important;
}

// text --------------------------------

.u-text-lowercase {
    text-transform: lowercase;
}
.u-text-uppercase {
    text-transform: uppercase;
}
.u-text-capitalize {
    text-transform: capitalize;
}
.u-text-nowrap {
    white-space: nowrap !important;
}
